body {
  margin: 0;
  background-color: #384152;
  color: rgb(233, 233, 233);
  font-family: 'Montserrat', sans-serif;
}

.container-image {
 align-items: center;
 display: flex;
 flex-direction: column;
}

.container-form {
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  padding: 20px 25px;
  justify-content: space-between;
  width: 21%;
}

label {
  color:antiquewhite;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

input, button {
  padding: 5px;
  border-radius: 5%;
  background-color: #7d838f;
}

.img-cabecalho {
  width: 200px;
  margin-right: 20px;
}

.image {
  width: 800px;
}

.link {
  color:rgb(233, 233, 233)
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #8C3030;
  width: 100%;
  float: left;
  padding: 2px 1%;
}

.header, p {
  font-weight: 800;
  font-size: larger;
}

.link {
  text-decoration: none;
  margin-top: 22px;
}

.container-nav {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.container-seacrh {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-left: 108px;
}

.album-card {
  display: flex;
  flex-direction: column;
  background-color: #313947;
  padding: 10px;
  margin:10px;
  text-align: center;
  width: 200px;
  border-radius: 5%;
  /* border: 5px solid yellow; */
}