body {
  background-color: #384152;
  color: rgb(233, 233, 233);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container-image {
 align-items: center;
 display: flex;
 flex-direction: column;
}

.image {
  border-radius: 5%;
}

.link {
  color:rgb(233, 233, 233)
}

.header {
  background-color: #8C3030;
  margin: 10px;
  padding: 10px;
  border-radius: 2% ;
}

.container-seacrh {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.album-card {
  display: flex;
  flex-direction: column;
  background-color: #313947;
  padding: 10px;
  margin:10px;
  text-align: center;
  width: 200px;
  border-radius: 5%;
  /* border: 5px solid yellow; */
}